@model List<WeatherApp_OKopot.Models.HistoryModel>

@{
    ViewBag.Title = "HistoryOfWeather";
}

<h2 class="back">History of requests</h2>
    
<div class="back">
    @Html.ActionLink("Clear", "ClearHistory")
    <table class="table">
        <tr style="font-size: 16pt;">
            <td>
                <b>City</b>
            </td>
            <td>
                <b>Time</b>
            </td>
            <td>
                <b>Weather</b>
            </td>
        </tr>
        @if (Model.Any())
        {
            foreach (var item in Model)
             {
                 <tr>
                     <td>
                         @item.City.AlternativeName
                     </td>
                     <td>
                         @item.Time
                     </td>
                     <td class="weather-item">
                         <span>@item.Time.DayOfWeek</span>
                         <br/>
                         <span>@item.Time.Year-@item.Time.Month-@item.Time.Day</span>
                     </td>
                     <td>
                         <img alt="@item.City.Weathers.ToList()[0].DescWeather" src="/Content/w_img/@item.City.Weathers.ToList()[0].IconId"/>
                     </td>
                     <td class="weather-item">
                         <span>@item.City.Weathers.ToList()[0].MainWeather</span> <br/>
                         <span class="list-day">@item.City.Weathers.ToList()[0].DayAvgTemp °C</span>
                         <span class="list-night">@item.City.Weathers.ToList()[0].DayMinTemp °C</span>
                     </td>
                     <td>
                         <span>Wind speed: @item.City.Weathers.ToList()[0].WindSpeed m/s</span><br/>
                         <span>Pressure: @item.City.Weathers.ToList()[0].Pressure hpa</span> <br/>
                         <span>Clouds: @item.City.Weathers.ToList()[0].Cloudiness %</span><br />
                         <span>Humidity: @item.City.Weathers.ToList()[0].Humidity %</span>
                     </td>
                 </tr>
             }
        }
    </table>
</div>
