@model WeatherApp_OKopot.Models.ModelForView
@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/buttons-control.js"></script>



    <div class="jumbotron back">
        <h1>Weather App</h1>
        <p>Weather App is a service helps you to know the weather of your town, or city, or place where you live.</p>
    </div>

<div id="body-flex">
    <div id="filters">
        <div>
            <h4>Select city...</h4>
            @using (Html.BeginForm("DeleteCity", "Home"))
            {
                @Html.DropDownListFor(model => model.ListOfCities, Model.ListOfCities as SelectList, new { @class = "form-control" })
                @Html.ValidationMessage("ListOfCities", new { @class = "text-danger" })
                <input type="submit" id="btn-del" value="Delete from list" class="btn btn-default" style="display: block;">
            }
            <br/>
            <h4>...or write name of it:</h4>
            @using (Html.BeginForm("ShowDailyWeather", "Home"))
            {
                <input type="search" id="city" name="search" placeholder="Search by city" class="form-control">
                @Html.ValidationMessage("city", new { @class = "text-danger" })
                <input type="submit" id="btn-find" value="Find" class="btn btn-default" style="display: block;">
                @Html.CheckBox("addToMainList", false, new { @class= "checkbox checkbox-inline" })
                <span style="font-size: 11pt;">Add to main list</span>
            }
        </div>
    </div>

    <div id="weathers">
        @if (Model.Weathers != null)
        {
            <div id="results">
                <div id="buttons">

                    <input type="button" id="day-btn" value="Today" class="btn btn-default" onclick="day_btn()">
                    <input type="button" id="three-day-btn" value="Next three day" class="btn btn-default" onclick="three_day_btn()">
                    <input type="button" id="week-btn" value="Next week" class="btn btn-default" onclick="week_btn()">
                    </div>
                    <input type="hidden" id="cityName" value=@Model.CityName>
                    <div id="flex-table">

                        <div>
                            <b style="font-size: 13pt;"> @Model.CityName</b>
                        </div> 
                        @foreach (var item in Model.Weathers)
                        {
                            <div id="flex-inside-table">
                                <div id="first-column" class="weather-item">
                                    @if (item.Day == DateTime.Today)
                                    {
                                        <span id="today">@item.Day.DayOfWeek</span>
                                        <br/>
                                    }
                                    else
                                    {
                                        <span>@item.Day.DayOfWeek</span>
                                        <br/>
                                    }
                                    <span>@item.Day.Year-@item.Day.Month-@item.Day.Day</span>
                                </div>
                                <div class="weather-item">
                                    <img alt="@item.DescWeather" src="/Content/w_img/@item.IconId"/>
                                </div>
                                <div class="weather-item">
                                    <span>@item.MainWeather</span> <br/>
                                    <span class="list-day">@item.DayAvgTemp °C</span>
                                    <span class="list-night">@item.DayMinTemp °C</span>
                                </div>
                                <div class="weather-item">
                                    <span>Wind speed: @item.WindSpeed m/s</span><br/>
                                    <span>Pressure: @item.Pressure hpa</span> <br/>
                                    <span>Clouds: @item.Cloudiness %</span><br />
                                    <span>Humidity: @item.Humidity %</span>
                                </div>
                            </div>
                        }
                    </div>
                
            </div>
        }
    </div>
</div>