@model WeatherApp_OKopot.Models.ModelForView
@if (Model.Weathers != null)
{
    <div id="results">
        <div id="buttons">

            <input type="button" id="day-btn" value="Today" class="btn btn-default" onclick="day_btn()">
            <input type="button" id="three-day-btn" value="Next three day" class="btn btn-default" onclick="three_day_btn()">
            <input type="button" id="week-btn" value="Next week" class="btn btn-default" onclick="week_btn()">
        </div>
        <input type="hidden" id="cityName" value=@Model.CityName>
        <div id="flex-table">

            <div>
                <b style="font-size: 13pt;"> @Model.CityName</b>
            </div>
            @foreach (var item in Model.Weathers)
            {
                <div id="flex-inside-table">
                    <div id="first-column" class="weather-item">
                        @if (item.Day == DateTime.Today)
                        {
                            <span id="today">@item.Day.DayOfWeek</span>
                            <br />
                        }
                        else
                        {
                            <span>@item.Day.DayOfWeek</span>
                            <br />
                        }
                        <span>@item.Day.Year-@item.Day.Month-@item.Day.Day</span>
                    </div>
                    <div class="weather-item">
                        <img alt="@item.DescWeather" src="/Content/w_img/@item.IconId" />
                    </div>
                    <div class="weather-item">
                        <span>@item.MainWeather</span> <br />
                        <span class="list-day">@item.DayAvgTemp °C</span>
                        <span class="list-night">@item.DayMinTemp °C</span>
                    </div>
                    <div class="weather-item">
                        <span>Wind speed: @item.WindSpeed m/s</span><br />
                        <span>Pressure: @item.Pressure hpa</span> <br />
                        <span>Clouds: @item.Cloudiness %</span><br />
                        <span>Humidity: @item.Humidity %</span>
                    </div>
                </div>
            }
        </div>
                
    </div>
}